{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadPage</title>

    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    
</head>
<body>
<nav id="topMenu" >
    <ul>
            <li><a class="menuLink" href="{% url 'welcome' %}">HOME</a></li>
            <li><a class="menuLink" href="{% url 'home' %}">READ</a></li>
            <li><a class="menuLink" href="{% url 'newblog' %}">WRITE</a></li>
    </ul>
</nav>
<div>
    {% block content %}
    {% endblock%}
</div>