

{% extends 'base.html' %}
{% block content %}
    <!-- 블로그 글 띄우는 부분 -->
    {% for blog in blogs.all %}
    <br><br>
    <div class="card">
        <h2>{{blog.title}}</h2>
        {% if blog.author %}
        <h3>{{blog.author}} 작가</h3>
        {% endif %}
        <h5>{{blog.pub_date}}</h5>
        {% if blog.image %} <!-- 이미지가 있을때만 출력하기 -->
        <img width="300px" src="{{ blog.image.url }}" alt="bookimg">
        {% endif %}
        <p class="article">{{blog.body}}</p>
        <br><br>
        <a class="btn btn-4" href="{% url 'update' blog.id %}" >수정</a> 
        <a class="btn btn-6" href = "{% url 'delete' blog.id %}"> 삭제 </a><br><br> <!-- 블로그의 아이디값 반드시 인자로 넘겨야함-->
    </div>
    {% endfor %}
</body>
</html>
{% endblock %}
