{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<div id="columns">
    {% for posts in pages %}
    <figure>
        {% if posts.image %}
        <img src="{{ posts.image.url }}">
        {% endif %}
        <figcaption>{{posts.title}}</figcaption>
        <hr>
        <div style="text-align: right;">
        <a class="btn" href="{% url 'detail' posts.id %}"> More </a>
        <a class="btn" href="{% url 'update' posts.id %}" > Edit </a>
        <a class="btn" href = "{% url 'delete' posts.id %}"> Delete </a>
        <br>
    </div>
    </figure>
    {% endfor %}
</div>
<!--
    {% for posts in pages %}
    <br><br>
    <div class="card">
        <h2>{{posts.title}}</h2>
        {% if posts.image %}
        <img width="300px" src="{{ posts.image.url }}" alt="bookimg">
        {% endif %}
        <p class="article">{{posts.summary}}<a href="{% url 'detail' posts.id %}">....more</a></p>
        <br><br>
        <a class="btn" href="{% url 'update' posts.id %}" >수정</a>  에러발생 : 여기서 id값은 이 posts객체의 id이므로 posts.id를 해서 인자로 넘겨주어야 한다.
        <a class="btn" href = "{% url 'delete' posts.id %}"> 삭제 </a><br><br>
    </div>
    {% endfor %} -->
<br><br>
    {%if pages.has_previous%}
        <a href="?page=1">First</a>
        <a href="?page={{pages.previous_page_number}}">Previous</a>
    {%endif%}

    <span>{{pages.number}}</span>
    <span>of</span>
    <span>{{pages.paginator.num_pages}}</span>

    {%if pages.has_next%}
        <a href="?page={{pages.next_page_number}}">Next</a>
        <a href="?page={{pages.paginator.num_pages}}">Last</a>
    {%endif%}
</body>
</html>
{% endblock %}